<div class="margin-left">
  <h1>Articles</h1>

  <div class="row">

    <div class="col-xs-8 col-md-8 col-sm-8">
      <div class="row">
        <% @articles.each do |article| %>
          <div class="col-xs-12 col-sm-6">

            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= article.picture %>);">
              <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
            </div>
            <p> <%= article.category.upcase %></p>
            <h5><%= link_to article.title, article_path(article) %></h5>
            <p><%= truncate(article.subtitle, length: 40) %></p>
            <p><%= article.publishing_date %></p>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-xs-4 col-md-4 col-sm-4">
      <div
        id="map"
        style="width: 100%;
        height: 600px;"
        data-markers="<%= @markers.to_json %>"
      >
      </div>
    </div>

  </div>
</div>
