<h1><%= @article.title %></h1>

<div class="row">

  <div class="col-md-8">
    <h5><%= @article.subtitle %></h5>
    <h5><%= @article.publishing_date %></h5>
    <p><%=  @article.content %></p>
  </div>

</div>

<%= link_to "Back", root_path %>

<% if user_signed_in? %>

  <% if @article.user_id == current_user.id %>
    <%= link_to "Edit", edit_article_path(@article) %>
    <%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: "Are you sure?"} %>
  <% end %>

<% end %>

<% if Donation.find_by(user_id: current_user.id, article_id: @article.id) %>
  <p> Thank you for your donation</p>
<% else %>
  <%= simple_form_for [@article, @donation] do |f| %>
    <%= f.input :amount %>
    <%= f.submit "Add" %>
  <% end %>

<% end %>
